*.Cache
*.dbmdl
*.schemaview

/TestsResults/*
!/TestsResults/*.xsl

SumoLogic.Logging.Nuget/

packages/
!packages/repositories.config

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/
