*.Cache
*.dbmdl
*.schemaview

TestsResults/

SumoLogic.Logging.Nuget/
packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/

# NuGet
.nuget/

# MacOS
.DS_Store