<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" internalLogToConsole="true">
	<extensions>		
		<add assembly="SumoLogic.Logging.NLog"/>
	</extensions>
	<targets>
		<target name="sumoLogic" type="SumoLogicTarget"
		layout="${LEVEL}, ${message}">
			<Url>https://collectors.us2.sumologic.com/receiver/v1/http/ZaVnC4dhaV2dpl93h4mEkdCBwxHuX5fI1Yh_75Lhk8GtiMxsATMRTuebaZTDknk5dlFvjvYI7ZvraaHaA2NPq-O4v9bKZSTaMEZ_qHYxQ_ICBlWAonxtGA==</Url>
			<ConnectionTimeout>30000</ConnectionTimeout>
			<SourceName>ExampleNameNLogTarget</SourceName>
			<UseConsoleLog>true</UseConsoleLog>
		</target>
		<target name="bufferedSumoLogic" type="BufferedSumoLogicTarget" layout="${LEVEL}, ${message}">
			<Url>https://collectors.us2.sumologic.com/receiver/v1/http/ZaVnC4dhaV2dpl93h4mEkdCBwxHuX5fI1Yh_75Lhk8GtiMxsATMRTuebaZTDknk5dlFvjvYI7ZvraaHaA2NPq-O4v9bKZSTaMEZ_qHYxQ_ICBlWAonxtGA==</Url>
			<SourceName>ExampleNameNLogBufferedTarget</SourceName>
			<ConnectionTimeout>30000</ConnectionTimeout>
			<RetryInterval>5000</RetryInterval>
			<MessagesPerRequest>10</MessagesPerRequest>
			<MaxFlushInterval>10000</MaxFlushInterval>
			<FlushingAccuracy>250</FlushingAccuracy>
			<MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
			<UseConsoleLog>true</UseConsoleLog>
		</target>
	</targets>
	<rules>
		<logger name="*" minLevel="Debug" writeTo="sumoLogic"/>
		<logger name="*" minLevel="Debug" writeTo="bufferedSumoLogic"/>
	</rules>
	
</nlog>